@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'Archivo';
        src: url('./Archivo/Archivo-Regular.ttf');
    }
}

@layer components {
    .underline {
        border-bottom: 2px solid black;
        width: 40vw;
    }
    .navLink {
        width: 10vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navLink:hover {
        background-color: #013A40;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Archivo;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.researchers {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100vw;
    justify-content: space-evenly;
}

.researcher-item {
    width: 300px;
    margin: 20px;
    padding: 25px;
}

.researcher-item .title h1 {
    text-align: center;
}

.researcher-item .bio {
    padding: 20px;
}

input {
    background-color: #444;
    border-radius: 50px;
    padding: 20px;
}

#message {
    height: 20vh;
    margin: 20px;
}